body{
  margin: 0;
  clear: both;
  padding: 0;
  overflow-x: hidden;
}

.container{
  width: 100%;
}

/* navbar */
.mainheader{
  width: 100%;
  background-color: #2c3e50;
}

nav{
  display: flex;
}

nav div.web_title, nav div.page_links{
  width: 50%;
  text-align: center;
  padding: 1.25%;
}

nav div.web_title a{
  color: white;
  text-decoration: none;
  font-size: 1.875rem;
}

nav div.page_links a{
  color: white;
  text-decoration: none;
  color: white;
  font-size: 1.875rem;
  margin-left: 3%;
  padding: 1%;
}

nav div.page_links a:hover{
  background-color: #1abc9c;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* navbar */

/*home */
.home{
  width: 100%;
  background-color: #1abc9c;
  padding: 5% 0;
}

.home div.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.home div.container hr{
  border: 5px solid white;
  width: 50%;
}

.home div.container p{
  font-size: 1.567rem;
}
/* home */

/* portfolio */
.portfolio h1, .contact h1{
  text-align: center;
  color: #2c3e50;
  font-size: 2.5rem;
}

.portfolio hr{
  width: 40%;
  border: 5px solid #2c3e50;
}

.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images img{
  padding: 2% 0;
  max-width: 26%;
  margin-right: 2%;
}
/* portfolio */

/* about */
.about{
  display: flex;
  padding: 2% 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1abc9c;
  color: white;
}

.about h1{
  font-size: 2.5rem;
}

.about hr{
  border: 5px solid white;
  width: 50%;
}

.content{
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.content p{
  flex-basis: 48%; /* Taking width of 48% */
  text-align: justify;
  font-size: 1.25rem;
}

.about button{
  padding: 1%;
  background: transparent;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border-radius: 10%;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  outline: none;
  cursor: pointer;
}

.about button:hover{
  background-color: white;
  color: #2c3e50 !important;
}
/* about */

/* contact */
.contact div.title, .contact div.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact hr{
  width: 50%;
  border: 5px solid #2c3e50
}

.contact div.form{
  margin: 1% 0px;
}

.contact div.form input{
  width: 80%;
  height: 60px;
  font-size: 1rem;
  margin-top: 1%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  color: grey;
  font-weight: bold;
}

.contact div.form input:focus{
  font-size: 1.15rem;
  border-bottom: 2px solid #2c3e50;
  color: #2c3e50;
}

.contact div.form button{
  margin: 1% 0px;
  padding: 1%;
  background-color: #1abc9c;
  color: white;
  border-radius: 10%;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.contact div.form button:hover{
  opacity: 0.8;
  font-weight: bold;
}
/* contact */

/* footer */
footer div.upper_div{
  display: flex;
  background-color: #2c3e50;
  color: white;
  justify-content: space-between;
  padding: 1%;
}

footer div.upper_div div{
  width: 30%;
}

.location, .around_the_web, .about_freelancer{
  text-align: center;
}

.around_the_web a{
  font-size: 2.15rem;
  padding: 1%;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  text-decoration: none;
  margin-right: 1%;
}

.around_the_web a:hover{
  background-color: white;
  color: #2c3e50;
}

footer div.lower_div{
  display: flex;
  background-color: #1a252f;
  justify-content: center;
  color: white;
}
/* footer */

@media screen and (max-width: 1024px){

  nav div.web_title{
    width: 45%;
  }

  nav div.web_title a{
    font-size: 1.5rem;
  }

  nav div.page_links{
    width: 50%;
  }

  nav div.page_links a{
    font-size: 1.315rem;
  }

  .content{
    width: 72%;
  }

  footer div.upper_div h1{
    font-size: 1.8rem;
  }

  .around_the_web a {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 768px){
  nav div.web_title{
    width: 40%;
  }

  nav div.page_links{
    width: 54%;
  }

  nav div.web_title a{
    font-size: 1rem;
  }
  
  nav div.page_links a {
    font-size: 0.8rem;
  }

  .container h1{
    font-size: 1.5rem;
  }
  
  img{
    width: 30%;
  }

  .home div.container hr, .about hr{
    border: 2.5px solid white;
  }

  .portfolio hr, .contact hr{
    border: 2px solid #2c3e50;
  }

  .home div.container p {
    font-size: 1.1rem;
  }
  
  .content{
    width: 90%;
    flex-wrap: wrap;
  }

  .content p{
    flex-basis: 100%;
    text-align: justify;
    font-size: 1rem;
  }

  footer div.upper_div div {
    width: 35%;
  }

  footer div.upper_div h1 {
    font-size: 1.1rem;
  }

  .around_the_web a {
    font-size: 0.95rem;
  }

  .about_freelancer p{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px){ 
  nav div.web_title {
    width: 34%;
  }

  nav div.web_title a {
    font-size: 0.9rem;
  }

  nav div.page_links {
    width: 57%;
  }

  nav div.page_links a {
    font-size: 0.75rem;
  }

  img{
    width: 35%;
  }

  .home div.container p {
    font-size: 0.9rem;
  }

  .contact div.form input {
    width: 50%;
    font-size: 0.8rem;
  }

  .contact div.form input:focus {
    font-size: 0.8rem;
  }

  footer div.upper_div h1 {
    font-size: 0.8rem;
  }

  .location p{
    font-size: 0.7rem;
  }

  .around_the_web a {
    font-size: 0.75rem;
  }

  .about_freelancer p {
    font-size: 0.65rem;
  }

  .content p, .lower_div p{
    font-size: 0.77rem;
  }
}

@media screen and (max-width: 375px){
  .container h1{
    font-size: 1rem;
  }

  .home div.container hr, .about hr{
    border: 2px solid white;
  }

  .portfolio hr, .contact hr{
    border: 2px solid #2c3e50;
  }

  .mainheader nav div{
    padding-top: 3%;
  }

  nav div.page_links a{
    font-size: 0.68rem;
  }

  .home div.container p{
    font-size: 0.8rem;
  }

  .around_the_web a{
    font-size: 0.65rem;
  }

  .content p, .lower_div p{
    font-size: 0.77rem;
  }
}

@media screen and (max-width: 320px){
  /* body can no longer support width less than 320px and will not shrink now  */
  .body{
    width: 320px;
  }
}